
<h1>{{title}}</h1>
<div>
<form method = "post" action = "/register">
{{firstName}} :	<input type = "text" id = "fname" name = "fname" placeholder = "Enter FirstName"/><br><br>
{{lastName}} : <input type = "text" id = "lname" name = "lname" placeholder = "Enter LastName"/><br><br> 
{{username}} : <input type = "text" id = "uname" name = "uname" placeholder = "Enter UserName"/><br><br>
{{email}} : <input type = "email" id = "ename" name = "ename" placeholder = "Enter Email"/><br><br>
{{password}} : <input type = "password" id = "pwd" name = "pwd" placeholder = "Enter Password"/><br><br>

<input type = "Submit" id = "register" value = "Register"/>
 </form>
</div>